<!-- <h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p> -->
<!-- <div id="root"></div> -->

<%= content_tag :div,
  id: "root",
  data: {
    token:@token
}.to_json do %>
<% end %>
<%= javascript_pack_tag 'home'%>